body {
    display: grid;
}

.card {
    place-self: center;
}

form.ui.form input[type="text"] {
    width: 262px;
}

form.ui.card 

.make_color {
    background-color: rgb(223, 188, 255);
}

.center {
    text-align: center;
}

.visibility {
    visibility: hidden;
}

.enter-width {
    width: 105px;
} 

.float_left {
    float: left;
}

.float_right {
    float: right;
}